@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+JP&family=Outfit:wght@100..900&display=swap');

/*
CUSTOM PROPERTY
*/
:root{

/**
   * COLORS
   */

   --color-neutral-0: #0c0c0c;
   --color-neutral-10: #171717;
   --color-neutral-30: #a8a29e;
   --color-neutral-40: #f5f5f5;

   --gold-crayola: hsl(38, 61%, 73%);
   --quick-silver: hsla(0, 0%, 65%, 1);
   --davys-grey: hsla(30, 3%, 34%, 1);
   --smoky-black-1: hsla(40, 12%, 5%, 1);
   --smoky-black-2: hsla(30, 8%, 5%, 1);
   --smoky-black-3: hsla(0, 3%, 7%, 1);
   --eerie-black-1: hsla(210, 4%, 9%, 1);
   --eerie-black-2: hsla(210, 4%, 11%, 1);
   --eerie-black-3: hsla(180, 2%, 8%, 1);
   --eerie-black-4: hsla(0, 0%, 13%, 1);
   --white: hsla(0, 0%, 100%, 1);
   --white-alpha-20: hsla(0, 0%, 100%, 0.2);
   --white-alpha-10: hsla(0, 0%, 100%, 0.1);
   --black: hsla(0, 0%, 0%, 1);
   --black-alpha-80: hsla(0, 0%, 0%, 0.8);
   --black-alpha-15: hsla(0, 0%, 0%, 0.15);
 
   /**
    * GRADIENT COLOR
    */
 
   --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--smoky-black-3) 33.33% 50%,  transparent 66.66% 75%);
   --gradient-1: linear-gradient(to top,hsla(0, 0%, 0%, 0.9),hsla(0, 0%, 0%, 0.7),transparent);
 
/**
   * TYPOGRAPHY
   */

  /* font-family */
  --fontFamily-forum: 'Forum', cursive;
  --fontFamily-dm_sans: 'DM Sans', sans-serif;

  /* font-size */
  --fontSize-display-1: calc(1.3rem + 6.7vw);
  --fontSize-headline-1: calc(2rem + 2.5vw);
  --fontSize-headline-2: calc(1.3rem + 2.4vw);
  --fontSize-title-1: calc(1.6rem + 1.2vw);
  --fontSize-title-2: 2.2rem;
  --fontSize-title-3: 2.1rem;
  --fontSize-title-4: calc(1.6rem + 1.2vw);
  --fontSize-body-1: 2.4rem;
  --fontSize-body-2: 1.6rem;
  --fontSize-body-3: 1.8rem;
  --fontSize-body-4: 1.6rem;
  --fontSize-label-1: 1.4rem;
  --fontSize-label-2: 1.2rem;

  /* font-weight */
  --weight-regular: 400;
  --weight-bold: 700;

  /* line-height */
  --lineHeight-1: 1em;
  --lineHeight-2: 1.2em;
  --lineHeight-3: 1.5em;
  --lineHeight-4: 1.6em;
  --lineHeight-5: 1.85em;
  --lineHeight-6: 1.4em;

  /* letter-spacing */
  --letterSpacing-1: 0.15em;
  --letterSpacing-2: 0.4em;
  --letterSpacing-3: 0.2em;
  --letterSpacing-4: 0.3em;
  --letterSpacing-5: 3px;

  /**
   * SPACING
   */

  --section-space: 70px;

  /**
   * SHADOW
   */

  --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);

  /**
   * BORDER RADIUS
   */

  --radius-24: 24px;
  --radius-circle: 50%;

  /**
   * TRANSITION
   */

  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --transition-3: 1000ms ease;



}





/*
 RESET
*/

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }



a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; 
display: block;}





button { cursor: pointer; }

address { font-style: normal; }

html {
 
  scroll-behavior: smooth;
}

body {
  background-color: #1E2122;

  overflow: hidden;
  height: 300vh;

 
}

body.loaded { overflow: overlay; }


::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background-color: transparent; }

::-webkit-scrollbar-thumb { background-color: var(--gold-crayola); }


/*
PRELOAD
*/


.preload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gold-crayola);
    z-index: 10;
    display: grid;
    place-content: center;
    justify-items: center;
    transition: var(--transition-2);
  }
  
  .preload > * { transition: var(--transition-1); }
  
  .preload.loaded > * { opacity: 0; }
  
  .preload.loaded {
    transition-delay: 250ms;
    transform: translateY(100%);
  }
  
  .circle {
    width: 112px;
    height: 112px;
    border-radius: var(--radius-circle);
    border: 3px solid var(--white);
    border-block-start-color: var(--smoky-black-3);
    margin-block-end: 45px;
    animation: rotate360 1s linear infinite;
  }
  
  @keyframes rotate360 {
    0% { transform: rotate(0); }
    100% { transform: rotate(1turn); }
  }
  
  .preload .text {
    background-image: var(--loading-text-gradient);
    background-size: 500%;
    font-size: calc(2rem + 3vw);
    font-weight: var(--weight-bold);
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 16px;
    padding-inline-start: 16px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.5px var(--eerie-black-3);
    animation: loadingText linear 2s infinite;
  }
  
  @keyframes loadingText {
    0% { background-position: 100%; }
    100% { background-position: 0%; }
  }


/*

*/



/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { 
  
  max-width: 1280px;
  margin: 0 auto;
  
  

}


.logo{
  font-family: Montserrat;
  font-style: italic;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 25px;
}



h1{
  font-family: Noto Serif JP;
  font-weight: 500;
  font-size: 60px;
  color: #fff;
}


.text-center { text-align: center; }


.hero-text{
  color: #fff;
  font-family: Josefin Sans;
  font-style: italic;
  font-weight: 200;
  font-size: 18px;
}







/*
HEADER
*/


/*
HEADER EFFECT
*/
.header {
  position: fixed;

  width: 100%;

  z-index: 4;
  transition: var(--transition-1);
  padding: 40px 4%;
}

.header.active {
  
  padding-block: 20px;
  background-color: #373838;
  border-color: var(--black-alpha-15);
}

/*
HEADER CSS
*/

header > .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}




header li a{
 font-family: Josefin Sans;
 text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  transition: .2s;
}


header li a:hover{
  color: #000;
  transform: scale(1.05);
}

header nav ul li{
  display: inline-block;
  padding: 0 40px;
}

header .perfil button{
  padding: 20px 40px;
  font-family: Josefin Sans;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  background-color: #FE7F2D;
  border: 0;
  border-radius: 30px;
  font-size: 15px;
  transition: .2s;
}

header .perfil button:hover{
  box-shadow: 0px 0px 8px #fe812d93;
}


/**

HERO

**/


.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-subtitle {
  position: relative;
  color: var(--gold-crayola);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-2);
  margin-block-end: 12px;
}



.btn {
  position: relative;
  color: var(--gold-crayola);
  font-size: var(--fontSize-label-2);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-5);
  max-width: max-content;
  border: 2px solid var(--gold-crayola);
  padding: 12px 45px;
  overflow: hidden;
  z-index: 1;
}



.hero .slider-btn{
  display: none;
}


.hero {
  
  position: relative;
  padding-block: 120px;
  min-height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.hero .slider-item {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  padding-block-start: 100px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-3);
  z-index: 1;
}

.hero .slider-item.active {
  opacity: 1;
  visibility: visible;
}

.hero .slider-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  pointer-events: none;
  user-select: none;
  z-index: -1;
}


.hero .slider-item.active .slider-bg {
  animation: smoothScale 7s linear forwards;
}

@keyframes smoothScale {
  0% { transform: scale(1); }
  100% { transform: scale(1.15); }
}

.hero .section-subtitle::after { margin-block: 14px 20px; }

.hero-text { margin-block: 10px 40px; }

.hero .btn { margin-inline: auto; }

.hero-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 2;
  background-color: var(--gold-crayola);
  width: 110px;
  height: 110px;
  padding: 12px;
  transform: scale(0.6);
}

.hero-btn img {
  margin-inline: auto;
  margin-block-end: 6px;
}

.hero-btn .span {
  color: var(--black);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-1);
  line-height: var(--lineHeight-3);
}

.hero-btn::after {
  inset: 0;
  border: 1px solid var(--gold-crayola);
  animation: rotate360 15s linear infinite;
}

.slider-reveal {
  transform: translateY(30px);
  opacity: 0;
}

.hero .slider-item.active .slider-reveal {
  animation: sliderReveal 1s ease forwards;
}

@keyframes sliderReveal {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero .slider-item.active .section-subtitle { animation-delay: 500ms; }

.hero .slider-item.active .hero-title { animation-delay: 1000ms; }

.hero .slider-item.active .hero-text { animation-delay: 1.5s; }

.hero .slider-item.active .btn { animation-delay: 2s; }


/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/




.title-receitas {
  position: relative;
}

.title-receitas::before,
.title-receitas::after {
  content: '';
  position: absolute;
  top: 60%;
  width: 100px; /* Ajuste o comprimento da linha conforme necess치rio */
  height: 2px; /* Ajuste a espessura da linha conforme necess치rio */
  background-color: #ef4040; /* Cor da linha */
}

.title-receitas::before {
  left: 550px; /* Dist칙ncia da linha esquerda */
}

.title-receitas::after {
  right: 550px; /* Dist칙ncia da linha direita */
}


.title-receitas{

  padding: 60px 0 30px 0;
  text-align: center;
  font-family: Noto Serif JP;
  font-weight: 400;
  color: #fff;
  font-size: 40px;
}

.text-cards{
  font-family: Josefin Sans;
  font-weight: 400;
  color: #fff;
  padding: 0px 4% 20px 4%;

}


.cards .container{


  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 40px 4%;
}




.title-cards-individual{
  text-align: center;
  font-family: Noto Serif JP;
  font-weight: 300;
  color: #fff;
  padding: 20px 4%;
}



.btn-receitas{
 display: block;
  margin: 0 auto;
  padding: 15px 40px;
  font-family: Josefin Sans;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  background-color: #FE7F2D;
  border: 0;
  border-radius: 10px;
  font-size: 15px;
  transition: .2s;
}


.btn-receitas:hover{
  box-shadow: 0px 0px 8px #fe812d93;
}


.card{
  text-align: center;

}




 .card-img:hover{
  cursor: pointer;
  transform: scale(1.02);
  transition: .3s;
}

hr{
  height: 600px;
  
}


/**
  AMOSTRA
**/

 .amostra{
   background-color: #2D3132;
   
   
}


.amostra .container2{
  display: flex;

}

.amostra-img img{
  box-sizing: inherit;
  
  max-width: 750px;
}


.text-amostra{
  padding: 80px 4% 0 4%;
  text-align: center;
  padding-top: 150px;
}


.text-amostra h2{
  font-family: Noto Serif JP;
  font-weight: 400;
  font-size: 40px;
  color: #fff;
  
}

.text-amostra .text-amostra-ind{
  padding-top: 20px;
 padding-left: 30px;
 padding-right: 30px;
  color: #fff;
  font-family: Josefin Sans;
  font-weight: 300;

  padding-bottom: 40px;
}


.btn-amostra{


  

  display: block;
  margin: 0 auto;
  padding: 15px 40px;
  font-family: Josefin Sans;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  background-color: #FE7F2D;
  border: 0;
  border-radius: 10px;
  font-size: 15px;
  transition: .2s;

}

/**
  FOOTER
**/


.footer{
  font-family: Outfit;
  letter-spacing: 1px;
}

footer{
  width: 100%;
  color: var(--color-neutral-40);
}

.footer-content{
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

.footer-contacts h2{
  margin-bottom: 0.75rem;
}

#footer-social{
  display: flex;
  flex-direction: column;
  gap: 2 rem;
  margin-top: 1.5 rem;
}

#footer-social .footer-link{
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
}

.footer-list{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.footer-list .footer-link{
  color: var(--color-neutral-30);
  transition: all 0.4s;
}

.footer-list .footer-link:hover{
  color: #FE7F2D;
}

#footer-subscribe{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


#footer-copyright{
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

@media screen and (max-width:768px){
  #footer-content{
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
  }
}

@media screen and (max-width:426px){
  #footer-content{
    grid-template-columns: repeat(1,1fr);
    padding: 3rem 2rem;
  }
}